#duo_iframe {
    width: 100%;
    min-width: 304px;
    
    height: 330px;
    background: transparent;
    border:none;
}

.node {
	cursor:pointer;
}
.node:hover {
	border:1px solid #BBB;
}

ul.nav li.static-text {
	line-height: 50px;
}

#btn-cancel {
	display:none;
}
#btn-delete {
	display:none;
}